#container22 {
   
    text-align:center;   
    width:940px; 
    margin:0 auto 200px auto; 
   
}
@media  screen and (max-width: 1200px) {
    #container22 {   
    text-align:center;     
    width:90%; 
    padding:100px 0 0 0; 
    margin:0 auto 300px auto;
}
     
   .wrapper {
                  background: rgba(0,0,0,0.5);
                  position: relative;
                  width: 120px;
                  height: 100%;
                  display: flex;
                  align-items: center;                  
                  border-radius:10px;
                  
              }
   inner_wrapper {
                  position: absolute;                  
                  width: 120px;
                  height: 100%;
                  
                  
              }
}
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;    
    color: #fff;
    background-color:#555;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 200px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 100px; opacity: 0;} 
    to {bottom: 200px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 100px; opacity: 0;}
    to {bottom: 200px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 200px; opacity: 1;} 
    to {bottom: 100px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 200px; opacity: 1;}
    to {bottom:100px; opacity: 0;}
}
.edit-box {
    margin-top:250px !important;
}
.edit-div {
  text-align:center;  
  width:150px; 
  display:block;
  padding:0; 
  margin:auto; 
}

 .more {
            float:right;
            height:35px; 
            width:35px; 
            border-radius:25px; 
            background-image: url('../../Image/ic_more_vert_white_48dp_1x.png'); 
            background-size:25px;
            background-position:center; 
            background-repeat:no-repeat; 
            margin-right:8px;
            cursor:pointer;
        }

.contenter_c {
                 
                  padding: 20px 0px 20px 0px;
                  height: 160px;
                  width:33%;
                  min-width:280px;
                  float:left;
              }

              .wrapper {
                  background: rgba(0,0,0,0.5);
                  position: relative;
                  width: 240px;
                  height: 100%;
                  display: flex;
                  align-items: center;                  
                  border-radius:10px;
                  
              }
                .wrapper:hover {
                    opacity:0.9;
                }
              .inner_wrapper {
                  position: absolute;
                  /*background-color:burlywood;*/
                  width: 240px;
                  height: 100%;
                  
                  
              }
           #song-title {
    width:250px; 
    color:#fff; 
    float:left; 
    height:100%; 
    margin:0px;
    line-height:80px; 
    font-family:Calibri; 
    font-size:18px; 
    text-align:start;
    padding-left:35px;
}
           #player-box {
    width:500px; 
    float:left; 
    height:100%;  
    padding:20px 60px 20px 40px; 
    display:flex; 
    align-items:center;
}
           #player-btn-container {
    width:250px; 
    margin-left:30px; 
    float:left; 
    height:100%;  
    display:flex; 
    align-items:center;
}
#play-btn,#pause-btn {  
   border-radius:50px;  
    width:50px; 
    height:50px; 
   
}
#player-progress {
    width:100%; 
    padding-top:20px;
}
#music_progress {
    margin-bottom:10px; 
    border-radius:10px;
}
#current_progress,#buffer_progress {
    border-radius:10px;
}
#current_time,#duration_time {
    color:white; font-size:10px;
}
#music-loader {
    font-size:25px !important; 
    visibility:hidden; 
    margin-bottom:0 !important;
}
#player-loading {
  height:100%; 
  width:90px;
  background-color:#000; 
  margin:0px; 
  display:flex;
  align-items:center;
  justify-content:center;
}
#nav-frame {
    position: absolute;
    height:70px;
    width:150px;    
    background-image: url('../Image/nav-frame.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:65% auto;  
    background-color:transparent;
    z-index:2;  
    visibility:hidden;
   opacity:0.7;
}
#player-front {
    width:90px; float:left; height:100%;
}
#player-wrapper {
    bottom:-80px;
    height:80px; 
    background-color:#222; 
    position:absolute;   
    margin:0;  
    opacity:0.74; 
    width:100%; 
    display:none;
}
              .text_wrapper {
                  /*background-color:cornflowerblue;*/
                  width: 60%;
                  height: 100%;
                  float: left;
                  
                  padding:0 20px 0 20px;
                 
              }
              .play-btn-wrapper {
    
    height: 100%;
     float:right;
     width:40%;
}

.img-wrapper {
    height:65%; 
    width:100%;     
    display:flex; 
    align-items:center;
}
              .animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
              .song_title::-webkit-scrollbar {
    width: 3px;
}
 

 
.song_title::-webkit-scrollbar-thumb {
  background-color:rgba(255,255,255,0.2);
  
}
              .song_title_wrapper {
                 display: flex;
                  width: 100%;
                 height:70%;
                  /*background-color:deeppink;*/
                 align-items:center;
                 
                  color: white;
                 
     
              }
        .song_title:hover {            
            overflow-y:scroll;
        }
              .song_title{
                
                  width: 100%;
                 
                 
                 
                 
                  color: white;
                  font-size: 1.2em;
     line-height:1.5em;
     
     max-height:3em;
     overflow:hidden;
     
              }
              .author {
                  display: flex;
                  width: 100%;
                  height:30%;
                  /*background-color:greenyellow;*/
                  font-size: 10px;
               
                  color: #ddd;
                  align-items:center;
              }

              .btn_wrapper {
                  /*background-color:mediumorchid;*/
                  height: 100%;
                  width: 100px;
                  float: right;
              }

              input[type=search]:focus {
                  outline: none;
              }

              button:focus {
                  outline: none;
              }

              .oo {
                  background: rgba(180,76,228,0.6);
                  background-attachment: fixed;
                  /* Old Browsers */ background: -moz-linear-gradient(-45deg, rgba(180,76,228,0.6) 0%, rgba(67,149,203,0.6) 52%, rgba(51,204,204,0.6) 100%);
                  /* FF3.6+ */ background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(180,76,228,0.6)), color-stop(52%, rgba(67,149,203,0.6)), color-stop(100%, rgba(51,204,204,0.6)));
                  /* Chrome, Safari4+ */ background: -webkit-linear-gradient(-45deg, rgba(180,76,228,0.6) 0%, rgba(67,149,203,0.6) 52%, rgba(51,204,204,0.6) 100%);
                  /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg, rgba(180,76,228,0.6) 0%, rgba(67,149,203,0.6) 52%, rgba(51,204,204,0.6) 100%);
                  /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg, rgba(180,76,228,0.6) 0%, rgba(67,149,203,0.6) 52%, rgba(51,204,204,0.6) 100%);
                  /* IE 10+ */ background: linear-gradient(135deg, rgba(180,76,228,0.6) 0%, rgba(67,149,203,0.6) 52%, rgba(51,204,204,0.6) 100%);
                  /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b44ce4', endColorstr='#33cccc', GradientType=1 );
                  /* IE6-9 fallback on horizontal gradient */
              }

              ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: rgba(255,255,255,0.5);
              }

              ::-moz-placeholder { /* Firefox 19+ */
                  color: rgba(255,255,255,0.5);
              }

              :-ms-input-placeholder { /* IE 10+ */
                  color: rgba(255,255,255,0.5);
              }

              :-moz-placeholder { /* Firefox 18- */
                  color: rgba(255,255,255,0.5);
              }

              .xx {
                  margin: 50px auto;
                  width: 100px;
                  height: 40px;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  background-position: 0 0, 100% 0;
                  background-repeat: no-repeat;
                  -webkit-background-size: 2px 100%;
                  -moz-background-size: 2px 100%;
                  background-size: 2px 100%;
                  /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);*/
                  background-image: -webkit-linear-gradient(top,#33cccc 0%,#4395cb 50%, #b54ce4 100%), -webkit-linear-gradient(top, #33cccc 0%,#4395cb 50%, #b54ce4 100%);
                  background-image: -moz-linear-gradient(top, #33cccc 0%,#4395cb 50%, #b54ce4 100%), -moz-linear-gradient(top,#33cccc 0%,#4395cb 50%, #b54ce4 100%);
                  background-image: -o-linear-gradient(top, #33cccc 0%,#4395cb 50%, #b54ce4 100%), -o-linear-gradient(top, #33cccc 0%,#4395cb 50%, #b54ce4 100%);
                  background-image: linear-gradient(to bottom,#33cccc 0%,#4395cb 50%, #b54ce4 100%), linear-gradient(to bottom,#33cccc 0%,#4395cb 50%, #b54ce4 100%);
              }

              .header_selector {
                  position:relative;
                  display: inline-block;
                  color: #4395cb;
                  height: 100%;
                  width: 150px;
                  text-align: center;
                  line-height: 70px;
                  cursor: pointer;
                  padding: 0;
                  margin: 0;
                  font-family: 微軟正黑體;
                  z-index:3;
              }

              .list-item-wrapper {
                  height: 200px;
                  width: 180px;
                  position: relative;
              }
              .list-wrapper {
                 margin-top:150px;
                 margin-bottom:500px;
              }
              .player-btn-container {
                  height: inherit;
                  width: 100%;
                  position: absolute;
                  font-size: 35px;
                  line-height: 100px;
                  opacity: 0.8;
                  display: flex;
                  align-items: center;
              }

              .player-btn {
                  height: 50px;
                  width: 50px;
                  margin: 0 auto 50px auto;
              }

              .title-contain {
                  height: 50%;
                  width: 100%;
                  position: absolute;
                  bottom: 0;
                  text-align: center;
              }

              .list-title {
                  margin: 25px auto 0 auto;
                  width: 50%;
                  display: block;
                  color: white;
                  border-bottom: solid 1px white;
                  font-size: 18px;
              }

              .list-total {
                  font-size: 1px;
                  display: block;
                  color: white;
                  margin-top: 5px;
              }

              .list-cover {
                  height: inherit;
                  width: 100%;
                  position: absolute;
                  background-color: rgba(0,0,0,0.1);
                  z-index: 500;
                  cursor: pointer;
              }

                  .list-cover:hover {
                      background-color: rgba(0,0,0,0);
                  }

             
              input[type='range']::-webkit-slider-thumb {
    visibility:hidden;
}
        body {
            width:99vw;
            overflow-x:hidden;
        }
              .top-to-bottom {
                  border-width: 3px;
                  border-style: solid;
                  -webkit-border-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(180,76,228,1)), color-stop(52%, rgba(67,149,203,1)), color-stop(100%, rgba(51,204,204,1)));
                  -webkit-border-image: -webkit-linear-gradient(top, rgba(180,76,228,1) 0%, rgba(67,149,203,1) 52%, rgba(51,204,204,1) 100%);
                  -moz-border-image: -moz-linear-gradient(top, rgba(180,76,228,1) 0%, rgba(67,149,203,1) 52%, rgba(51,204,204,1) 100%);
                  -o-border-image: -o-linear-gradient(top, rgba(180,76,228,1) 0%, rgba(67,149,203,1) 52%, rgba(51,204,204,1) 100%);
                  border-image: linear-gradient(top, rgba(180,76,228,1) 0%, rgba(67,149,203,1) 52%, rgba(51,204,204,1) 100%);
              }

              .oo {
                  background: #b44ce4;
                  /* Old Browsers */ background: -moz-linear-gradient(left, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* FF3.6+ */ background: -webkit-gradient(left top, right top, color-stop(0%, #b44ce4), color-stop(52%, #4395cb), color-stop(100%, #33cccc));
                  /* Chrome, Safari4+ */ background: -webkit-linear-gradient(left, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* IE 10+ */ background: linear-gradient(to right, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b44ce4', endColorstr='#33cccc', GradientType=1 );
                  /* IE6-9 */
              }

              .cover {
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  background-color: rgba(0,0,0,0.1);
                  cursor: pointer;
              }

                  .cover:hover {
                     background-color:transparent;
                  }

              .oo2 {
                  background: #b44ce4;
                  /* Old Browsers */ background: -moz-linear-gradient(-45deg, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* FF3.6+ */ background: -webkit-gradient(left top, right bottom, color-stop(0%, #b44ce4), color-stop(52%, #4395cb), color-stop(100%, #33cccc));
                  /* Chrome, Safari4+ */ background: -webkit-linear-gradient(-45deg, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* IE 10+ */ background: linear-gradient(135deg, #b44ce4 0%, #4395cb 52%, #33cccc 100%);
                  /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b44ce4', endColorstr='#33cccc', GradientType=1 );
                  /* IE6-9 fallback on horizontal gradient */
              }

              .oo3 {
                  background: rgba(180,76,228,0.1);
                  background-attachment: fixed;
                  /* Old Browsers */ background: -moz-linear-gradient(-45deg, rgba(180,76,228,0.1) 0%, rgba(67,149,203,0.1) 52%, rgba(51,204,204,0.1) 100%);
                  /* FF3.6+ */ background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(180,76,228,0.1)), color-stop(52%, rgba(67,149,203,0.1)), color-stop(100%, rgba(51,204,204,0.1)));
                  /* Chrome, Safari4+ */ background: -webkit-linear-gradient(-45deg, rgba(180,76,228,0.1) 0%, rgba(67,149,203,0.1) 52%, rgba(51,204,204,0.1) 100%);
                  /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg, rgba(180,76,228,0.1) 0%, rgba(67,149,203,0.1) 52%, rgba(51,204,204,0.1) 100%);
                  /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg, rgba(180,76,228,0.1) 0%, rgba(67,149,203,0.1) 52%, rgba(51,204,204,0.1) 100%);
                  /* IE 10+ */ background: linear-gradient(135deg, rgba(180,76,228,0.1) 0%, rgba(67,149,203,0.1) 52%, rgba(51,204,204,0.1) 100%);
                  /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b44ce4', endColorstr='#33cccc', GradientType=1 );
                  /* IE6-9 fallback on horizontal gradient */
              }
              .oo4 {
                  background: rgba(180,76,228,0.4);
                  background-attachment: fixed;
                  /* Old Browsers */ background: -moz-linear-gradient(-45deg, rgba(180,76,228,0.4) 0%, rgba(67,149,203,0.4) 52%, rgba(51,204,204,0.4) 100%);
                  /* FF3.6+ */ background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(180,76,228,0.4)), color-stop(52%, rgba(67,149,203,0.4)), color-stop(100%, rgba(51,204,204,0.4)));
                  /* Chrome, Safari4+ */ background: -webkit-linear-gradient(-45deg, rgba(180,76,228,0.4) 0%, rgba(67,149,203,0.4) 52%, rgba(51,204,204,0.4) 100%);
                  /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg, rgba(180,76,228,0.4) 0%, rgba(67,149,203,0.4) 52%, rgba(51,204,204,0.4) 100%);
                  /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg, rgba(180,76,228,0.4) 0%, rgba(67,149,203,0.4) 52%, rgba(51,204,204,0.4) 100%);
                  /* IE 10+ */ background: linear-gradient(135deg, rgba(180,76,228,0.4) 0%, rgba(67,149,203,0.4) 52%, rgba(51,204,204,0.4) 100%);
                  /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b44ce4', endColorstr='#33cccc', GradientType=1 );
                  /* IE6-9 fallback on horizontal gradient */
              }
              .nav {
                  width: 100%;
                 
                  background-color:white;
                  height: 150px;
                  padding: 25px 0;
                  text-align: center;
              }

              .nav2 {
                  color:gray;
              }
              #music_progress {
                  cursor:pointer;
  position: relative;
  width: 100%;
  height: 8px;
  background-color: rgba(255,255,255,0.3);
}

#current_progress {
  position: absolute;
  width: 10%;
  height: 100%;
  /*background-color: rgba(255,255,255,0.4);*/
z-index:100;
}
#buffer_progress {
  position: absolute;
  width: 20%;
  height: 100%;
   background-color: rgba(255,255,255,0.3);
}

       
    .demo-icon
    {
        
      font-family: "fontello";
      font-style: normal;     
   margin-bottom:15px;
  font-size:50px;
color:white;
}
        .main-nav {
        display:block;
        float:right;
        }
            input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 25px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}
        .more {
            cursor:pointer;
        }
          .more:hover {
              background-color:rgba(255,255,255,0.4);
        }
        .play_icon {
           height:58px;
            width:58px;
            margin-left:10px;          
            display:block; 
            opacity:0.7;
            cursor:pointer;
        }
        .modal {
    overflow-y: auto;
}
        .edit_select {
            display:block;
            color:gray;
            font-size:20px;
            text-align:center;
            line-height:20px;            
            padding:10px;
            width:inherit;
            cursor:pointer;
            font-family: 微軟正黑體;
            
        }
.player-btns:hover {
     background-color:rgba(255,255,255,0.3);  
}
.player-btns { 
    display:block;
    float:left;
    margin-right:30px;
    background-repeat:no-repeat;
    background-color:rgba(255,255,255,0.15);     
    background-size:auto 50%;        
    width:40px; 
    height:40px;    
    border:none;
    border-radius:40px;     
    background-position:center;
   
    
}
        .modal-title {
             font-family: 微軟正黑體;
        }
            .edit_select:hover {
                 color:white;
                 background-color:gray;
            }
        .sss {
            overflow-y:hidden !important;
        }